%h1 Listing slideshows
%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th Title
      %th Uid
      %th{:colspan => "3"}
  %tbody
    - @slideshows.each do |slideshow|
      %tr
        %td= slideshow.title
        %td= slideshow.uid
        %td= link_to 'Show', slideshow
        %td= link_to 'Edit', edit_slideshow_path(slideshow)
        %td= link_to 'Destroy', slideshow, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Slideshow', new_slideshow_path
