= link_to [entry], class: 'thumbnail pull-left text-center entry-thumb' do
  = image_tag entry.preview.thumb('200x200#').url, size: '200x200'

  %p{ style: 'margin-top: 5px; margin-bottom: 0;' }
    - unless entry.highlight.nil?
      %i.fa.fa-star.highlight{ title: entry.highlight, data: { behavior: 'tooltip' } }

    = "Processed #{time_ago_in_words(entry.event_at)} ago"
    %br/
    = entry
